.imageCard{
  overflow: hidden;
  margin: 0;

}
ul{
  list-style: none;
  padding: 0;
  column-gap: 1em;
  column-count: 1;
}

li{
  width: 100%;
}
img{
  width: 100%;
}

@media screen and (min-width:768px){
  ul{
    column-count: 2;
  }
}

@media screen and (min-width:1080px){
  ul{
    column-count:3;
  }
}

@media screen and (min-width:1920px){
  ul{
    column-count:4
  }
}