.searchBar{
    position: relative;
}
.searchBar input{
    margin-top: 20px;
    width: 100%;
    /* border:none; */
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 20px;
    outline: none;
}
.searchBar input:focus{
    border:1px solid green;
}
.submit{
    display:none;
}

@media screen and (max-width:414px){
    .submit{
        display:inline-block;
        position: absolute;
        bottom: 1px;
        right:1px;
        border-radius: 10px;
        background-color: greenyellow;
        text-transform: uppercase;
        color: white;
        border: none;
        outline: none;
    }
}